doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Admin Dashboard
    script(src="https://cdn.tailwindcss.com")
    script(src="./scripts/admin.js")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet")

  header(class="bg-gradient-to-r from-[#0e1c26] via-[#2a454b] to-[#294861] fixed top-0 left-0 w-full shadow-md z-10 p-4")
    div(class="flex justify-between items-center max-w-4xl mx-auto text-[#DADADA]")
      h1 ME
      ul(class="flex space-x-4")
        li
          a(href="#" class="relative group")
            | Abu
            span(class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#DADADA] scale-x-0 transition-transform duration-300 group-hover:scale-x-100")
        li
          a(href="#" class="relative group")
            | Cesc
            span(class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#DADADA] scale-x-0 transition-transform duration-300 group-hover:scale-x-100")
        li
          a(href="#" class="relative group")
            | André
            span(class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#DADADA] scale-x-0 transition-transform duration-300 group-hover:scale-x-100")
        li
          a(href="#" class="relative group")
            | Didac
            span(class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#DADADA] scale-x-0 transition-transform duration-300 group-hover:scale-x-100")
        li
          a(href="#" class="relative group")
            | Contacto
            span(class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#DADADA] scale-x-0 transition-transform duration-300 group-hover:scale-x-100")

  body(
    class="bg-gradient-to-r from-[#0e1c26] via-[#2a454b] to-[#294861] min-h-screen font-sans"
    style="font-family: 'Montserrat', sans-serif;"
  )
    div(class="pt-20 pb-20 px-6 lg:px-8")
      div(class="max-w-4xl mx-auto")
        h1(class="mt-8 text-3xl font-bold text-[#DADADA] mb-8") Hola, Admin
        p(class="text-[#DADADA] mb-8") Aquí podrás crear, esborrar i actualizar usuaris.
        
        div(class="max-w-4xl mx-auto")
          div(class="grid grid-cols-2 gap-6")
            div(class="bg-white px-8 pt-6 pb-8 rounded-lg shadow-lg text-[#0E1C26]")
              h2(class="text-2xl font-bold text-center mb-6") Crear Usuari
              form(id="createUserForm" class="space-y-4")
                div
                  label(for="username" class="block text-sm font-semibold mb-2") Nom
                  input(
                    type="text"
                    id="username"
                    name="username"
                    required
                    class="bg-[#DADADA] text-[#2A454B] rounded w-full py-2 px-3 focus:outline-none"
                    placeholder="Ingresa el nom"
                  )
                div
                  label(for="role" class="block text-sm font-semibold mb-2") Rol
                  select(
                    id="role"
                    name="role"
                    class="bg-[#DADADA] rounded w-full py-2 px-3 focus:outline-none"
                  )
                    option(value="admin") Admin
                    option(value="cliente") Client
                div
                  label(for="password" class="block text-sm font-semibold mb-2") Contrasenya
                  input(
                    type="password"
                    id="password"
                    name="password"
                    required
                    class="bg-[#DADADA] text-[#2A454B] rounded w-full py-2 px-3 focus:outline-none"
                    placeholder="Ingresa la contrasenya"
                  )
                p(id="createMessage" class="text-center text-red-500 text-sm")
                button(
                  type="submit"
                  class="w-full mt-8 bg-[#0E1C26] text-[#DADADA] hover:bg-opacity-90 font-semibold py-2 px-4 rounded-2xl transition duration-300"
                )
                  | Crear

            div(class="bg-white px-8 pt-6 pb-8 rounded-lg shadow-lg text-[#0E1C26]")
              h2(class="text-2xl font-bold text-center mb-6") Actualizar Usuari
              form(id="updateUserForm" class="space-y-4")
                div
                  label(for="updateUsername" class="block text-sm font-semibold mb-2") Nom
                  input(
                    type="text"
                    id="updateUsername"
                    name="updateUsername"
                    required
                    class="bg-[#DADADA] rounded w-full py-2 px-3 focus:outline-none"
                    placeholder="Ingresa el nom"
                  )
                div
                  label(for="updateRole" class="block text-sm font-semibold mb-2") Nou Rol
                  select(
                    id="updateRole"
                    name="updateRole"
                    class="bg-[#DADADA] rounded w-full py-2 px-3 focus:outline-none"
                  )
                    option(value="admin") Admin
                    option(value="cliente") Client
                div
                  label(for="updatePassword" class="block text-sm font-semibold mb-2") Nova Contrasenya
                  input(
                    type="password"
                    id="updatePassword"
                    name="updatePassword"
                    required
                    class="bg-[#DADADA] text-[#2A454B] rounded w-full py-2 px-3 focus:outline-none"
                    placeholder="Ingresa la nova contrasenya"
                  )
                p(id="updateMessage" class="text-center text-red-500 text-sm")
                button(
                  type="submit"
                  class="w-full mt-8 bg-[#0E1C26] text-[#DADADA] hover:bg-opacity-90 font-semibold py-2 px-4 rounded-2xl transition duration-300"
                )
                  | Actualitzar

            div(class="bg-white px-8 pt-6 pb-6 rounded-lg shadow-lg text-[#0E1C26] col-span-2")
              h2(class="text-2xl font-bold mb-6") Esborrar Usuari
              form(id="deleteUserForm" class="space-y-4")
                div(class="flex items-center space-x-4")
                  div(class="w-full")
                    label(for="deleteUsername" class="block text-sm font-semibold mb-2") Nom
                    div(class="flex items-center space-x-4")
                      input(
                        type="text"
                        id="deleteUsername"
                        name="deleteUsername"
                        required
                        class="bg-[#DADADA] rounded w-full py-2 px-3 focus:outline-none"
                        placeholder="Ingresa el nom"
                      )
                      button(
                        type="submit"
                        class="bg-[#0E1C26] text-[#DADADA] hover:bg-opacity-90 font-semibold py-2 px-4 rounded-2xl transition duration-300"
                      )
                        | Esborrar
                p(id="deleteMessage" class="text-center text-red-500 text-sm")

  footer(class="w-full pt-20 bottom-0 bg-gradient-to-r from-[#0e1c26] via-[#2a454b] to-[#294861] text-[#DADADA] py-6 mt-8 shadow-2xl shadow-black")
    div(class="max-w-4xl mx-auto text-center")
      p(class="text-sm") © 2025 ME. Todos los derechos reservados.